<div class="container-fluid" style="margin-top:-10px;">
    <div class="container">

        <div class="text-center">
            <h2>
                Selecciona comercio
            </h2>
            <p></p>
        </div>


        <div class="form-group ">


            <div class="row">
                <div class="col-sm-4">
                    <div class="card CardShadow">
                        <div class="card-header heading-footer">
                        </div>
                        <div class="card-block text-center">
                            <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/BurgerKing.png"
                                alt="Burger King">
                            <div class="card-body">
                                <p class="card-title text-center h5"><strong>Lorem Ipsum</strong></p>
                                <p class="card-text cortar MiddleJustify">Cadena de establecimientos de comida rápida
                                    especializada
                                    principalmente en la elaboración de hamburguesas.</p>
                                <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                    <span class="fa fa-shopping-basket">
                                        Elegir
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card CardShadow">
                        <div class="card-header heading-footer">
                        </div>
                        <div class="card-block text-center">
                            <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/Dominos.png"
                                alt="Dommino's Pizza">
                            <div class="card-body">
                                <p class="card-title text-center h5"><strong>Dommino's Pizza</strong></p>
                                <p class="card-text cortar MiddleJustify">Restaurante de comida rápida, especializada en
                                    la
                                    elaboración de pizzas.</p>
                                <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                    <span class="fa fa-shopping-basket">
                                        Elegir
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card CardShadow">
                        <div class="card-header heading-footer">
                        </div>
                        <div class="card-block text-center">
                            <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/McDonalds.png"
                                alt="McDonald's">
                            <div class="card-body">
                                <p class="card-title text-center h5"><strong>McDonald's</strong></p>
                                <p class="card-text cortar MiddleJustify">Principales productos son las hamburguesas,
                                    papas fritas,
                                    menús para el desayuno, refrescos, batidos, helados, postres y, recientemente,
                                    ensaladas de fruta y otros productos.</p>
                                <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                    <span class="fa fa-shopping-basket">
                                        Elegir
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header bg-light">
                            <img src="/img/KFC.png" class="card-img-top" alt="Kentucky Fried Chicken"
                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; height: 100%;" >
                        </div>                        
                        <div class="card-body">
                            <h5 class="card-title text-center">Kentucky Fried Chicken</h5>
                            <p class="card-text MiddleJustify">Especializada en el pollo frito, piezas de pollo crujientes que se 
                                preparan mediante un proceso de fritura a presión. Se comercializan varias unidades en 
                                cajas o cubos, y además del pollo tradicional original existen otras variantes como pollo extra crujiente 
                                y asado a la parrilla.</p>
                            <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                <span class="fa fa-shopping-basket">
                                Elegir
                            </span>
                            </a>
                        </div>
                    </div>
                </div> --}}

            </div>

            <br>

            <div class="row">

                <div class="col-sm-4">
                    <div class="card CardShadow">
                        <div class="card-header heading-footer">
                        </div>
                        <div class="card-block text-center">
                            <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/KFC.png"
                                alt="Kentucky Fried Chicken">
                            <div class="card-body">
                                <p class="card-title text-center h5"><strong>McDonald's</strong></p>
                                <p class="card-text cortar MiddleJustify">Especializada en el pollo frito, piezas de
                                    pollo crujientes que se
                                    preparan mediante un proceso de fritura a presión. Se comercializan varias unidades
                                    en
                                    cajas o cubos, y además del pollo tradicional original existen otras variantes como
                                    pollo extra crujiente
                                    y asado a la parrilla.</p>
                                <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                    <span class="fa fa-shopping-basket">
                                        Elegir
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card CardShadow">
                        <div class="card-header heading-footer">
                        </div>
                        <div class="card-block text-center">
                            <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/PizzaHut.png"
                                alt="Pizza Hut">
                            <div class="card-body">
                                <p class="card-title text-center h5"><strong>Pizza Hut</strong></p>
                                <p class="card-text cortar MiddleJustify">Menú italoamericano de cocina que incluye
                                    pizza y pasta,
                                    así como guarniciones y postres.</p>
                                <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                    <span class="fa fa-shopping-basket">
                                        Elegir
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card CardShadow">
                        <div class="card-header heading-footer">
                        </div>
                        <div class="card-block text-center">
                            <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/PizzaPapaJohns.png"
                                alt="Papa John's Pizza">
                            <div class="card-body">
                                <p class="card-title text-center h5"><strong>Papa John's Pizza</strong></p>
                                <p class="card-text cortar MiddleJustify">Explora el menú de Papa John's: pizzas
                                    increíbles más
                                    acompañamientos y postres. ¡Elige tus favoritos y pídelos hoy en línea!</p>
                                <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                    <span class="fa fa-shopping-basket">
                                        Elegir
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">
                <div class="card CardShadow">
                    <div class="card-header heading-footer">
                    </div>
                    <div class="card-block text-center">
                        <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/StarbuksCoffee.png"
                            alt="Starbuks Coffee">
                        <div class="card-body">
                            <p class="card-title text-center h5"><strong>Starbuks Coffee</strong></p>
                            <p class="card-text cortar MiddleJustify">Nos apasiona nuestra labor de abastecedores de
                                café, así
                                como todo lo relacionado con el disfrute de una experiencia gratificante en una de
                                nuestras
                                tiendas. También ofrecemos una selección de tés de calidad superior, alta repostería y
                                otras
                                alternativas deliciosas para agradar al paladar.</p>
                            <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                <span class="fa fa-shopping-basket">
                                    Elegir
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card CardShadow">
                    <div class="card-header heading-footer">
                    </div>
                    <div class="card-block text-center">
                        <img class="panel-profile-img ImagenResponsiva rounded-circle" src="/img/DunkinDonuts.png"
                            alt="Dunkin Donuts">
                        <div class="card-body">
                            <p class="card-title text-center h5"><strong>Dunkin Donuts</strong></p>
                            <p class="card-text cortar MiddleJustify">Nos apasiona nuestra labor de abastecedores de
                                café, así
                                como todo lo relacionado con el disfrute de una experiencia gratificante en una de
                                nuestras
                                tiendas. También ofrecemos una selección de tés de calidad superior, alta repostería y
                                otras
                                alternativas deliciosas para agradar al paladar.</p>
                            <a href="#" class="btn btn-outline-info btn-lg btn-block">
                                <span class="fa fa-shopping-basket">
                                    Elegir
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>







        </div>



    </div>
</div>