<div class="container-fluid">
    <div class="container">

        <div>
            <h2>
                Alta de menú
            </h2>
            <p></p>
        </div>


        <form class="form-horizontal" method="post" action="/menu">
            <div class="form-group ">

                <div class="row">
                    <div class="col-md-6" style="text-align:center;">
                        <label for="Titulo" class="control-label">
                            Titulo
                            <span style="color: red;">*</span>
                        </label>
                        <input type="text" id="Titulo" name="Titulo" placeholder="Ingresa nombre del platillo/bebida"
                            data-toggle="tooltip" title="Ingresa nombre del platillo/bebida"
                            class="form-control text-sm-center mw-100" style="margin:0px auto; display:block;"
                            autocomplete="off" required />
                    </div>

                    <div class="col-md-6" style="text-align:center;">
                        <label for="Precio" class="control-label">
                            Precio
                            <span style="color: red;">*</span>
                        </label>
                        <input type="text" id="Precio" name="Precio" placeholder="$0.00" data-toggle="tooltip"
                            title="Ingresa precio del producto" class="form-control text-sm-center mw-100"
                            style="margin:0px auto; display:block;" autocomplete="off" required />
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <label for="Descripcion" class="control-label">
                            Descripción
                            <span style="color: red;">*</span>
                        </label>
                        <textarea class="form-control mw-100" rows="4" id="Descripcion" name="Descripcion"
                            placeholder="Agrega una breve descripción del producto (ingredientes, preparación, contenido, etc.)"
                            style="margin:0px auto; display:block;" autocomplete="off" style="width:100%;"
                            required></textarea>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <label for="AgregarImagen" class="control-label">
                            Foto/Imagen
                            <span style="color: red;">*</span>
                        </label>
                        <input type="file" id="AgregarImagen" name="AgregarImagen" data-toggle="tooltip"
                            title="Selecciona la imagen correspondiente al producto a registrar" class="input-file"
                            required>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-5">
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnAgregar"
                            name="btnAgregar">
                            <span class="fa fa-floppy-o">
                                Agregar
                            </span>
                        </button>
                    </div>

                    <div class="col-md-5">
                    </div>
                </div>

        </form>

<input type="hidden" id="Msg" name="Msg">

    </div>
</div>

<script>
    $(document).ready(function () {
$('[data-toggle="tooltip"]').tooltip();
    });

if({{msg.success}})
{


    swal({
        title: '{{msg.title}}',
        //text: 'Fue dado de alta exitosamente',
        text:'Agregado correctamente',
        showConfirmButton: false,
        timer: 2600,
        html: true
    }) // --> Fin SWAL
}
        
    
</script>

