<style>
    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        color: antiquewhite;

        background: linear-gradient(81deg, #f46503, #001ea0, #f46503, #001ea0);
        background-size: 800% 800%;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;

        -webkit-animation: DB 6s ease infinite;
        -moz-animation: DB 6s ease infinite;
        animation: DB 6s ease infinite;
    }

    @-webkit-keyframes DB {
        0% {
            background-position: 97% 0%
        }

        50% {
            background-position: 4% 100%
        }

        100% {
            background-position: 97% 0%
        }
    }

    @-moz-keyframes DB {
        0% {
            background-position: 97% 0%
        }

        50% {
            background-position: 4% 100%
        }

        100% {
            background-position: 97% 0%
        }
    }

    @keyframes DB {
        0% {
            background-position: 97% 0%
        }

        50% {
            background-position: 4% 100%
        }

        100% {
            background-position: 97% 0%
        }
    }

</style>

<div class="container-fluid" style="margin-top:-10px;">
    <div class="container">

        <div>
            <h2>
                Alta de menú
            </h2>
            <p></p>
        </div>


        <form class="form-horizontal" method="post" action="/menu">
            <div class="form-group ">

                <div class="row">
                    <div class="col-md-4">

                        <div class="row justify-content-center">

                            <div class="card bg-light text-dark">
                                <div class="card-body" style="padding:5px;">
                                    <img id="profile-img-tag" name="profile-img-tag"
                                        src="https://i.ibb.co/jb2RzWh/DeBalazo.png" alt="imgAlt"
                                        style="display: block; margin-left: auto; margin-right: auto; width: 100%;" />
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-2">
                            <label for="profile-img" class="control-label custom-file-upload">
                                <i class="fa fa-upload fa-lg"></i> Elegir foto/imagen
                                <span style="color: red;">*</span>
                            </label>
                            <input type="file" id="profile-img" name="profile-img" data-toggle="tooltip"
                                data-placement="bottom"
                                title="Selecciona la imagen correspondiente al producto a registrar" accept="image/*"
                                required>
                        </div>


                    </div>


                    <div class="col-md-8">
                        <div class="card bg-light text-dark">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6" style="text-align:center;">
                                        <label for="Titulo" class="control-label">
                                            Titulo
                                            <span style="color: red;">*</span>
                                        </label>
                                        <input type="text" id="Titulo" name="Titulo"
                                            placeholder="Ingresa nombre del platillo/bebida" data-toggle="tooltip"
                                            data-placement="bottom" title="Ingresa nombre del platillo/bebida"
                                            class="form-control text-sm-center mw-100"
                                            style="margin:0px auto; display:block;" autocomplete="off" required />
                                    </div>

                                    <div class="col-md-6" style="text-align:center;">
                                        <label for="Precio" class="control-label">
                                            Precio
                                            <span style="color: red;">*</span>
                                        </label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" id="Precio" name="Precio" placeholder="0.00"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="Ingresa precio del producto"
                                                class="form-control text-sm-center mw-100"
                                                style="margin:0px auto; display:block;" autocomplete="off" required />
                                        </div>
                                    </div>
                                </div>

                                {{!-- <br> --}}

                                {{!-- ** ACTIVO: MUESTRA COLLAPSABLE DE OPCIONES CH, M, G ** --}}
                                <div class="row pb-2">
                                    <div class="col-md-12" style="text-align:center;">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="DifPorc"
                                                name="DifPorc" onclick="EnableDiv();">
                                            <label class="custom-control-label" for="DifPorc">¿Diferentes
                                                porciones?</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="DivRow">

                                    <div class="col-md-4" id="Ch" style="text-align:center;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input chkDifPorc" id="chkCh"
                                                name="chkCh" onclick="EnableDisableChico(this);">
                                            <label class="custom-control-label" for="chkCh">Chico</label>
                                        </div>
                                        <div class="input-group mt-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" id="txtCh" name="txtCh" placeholder="0.00"
                                                class="form-control text-sm-center mw-100 txtDifPorc"
                                                style="margin:0px auto; display:block;" autocomplete="off"
                                                disabled="disabled" />
                                        </div>
                                    </div>

                                    <div class="col-md-4" id="Md" style="text-align:center;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input chkDifPorc" id="chkMed"
                                                name="chkMed" onclick="EnableDisableMediano(this);">
                                            <label class="custom-control-label" for="chkMed">Mediano</label>
                                        </div>
                                        <div class="input-group mt-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" id="txtMed" name="txtMed" placeholder="0.00"
                                                class="form-control text-sm-center mw-100 txtDifPorc"
                                                style="margin:0px auto; display:block;" autocomplete="off"
                                                disabled="disabled" />
                                        </div>
                                    </div>

                                    <div class="col-md-4" id="Gd" style="text-align:center;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input chkDifPorc" id="chkGde"
                                                name="chkGde" onclick="EnableDisableGrande(this);">
                                            <label class="custom-control-label" for="chkGde">Grande</label>
                                        </div>
                                        <div class="input-group mt-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" id="txtGde" name="txtGde" placeholder="0.00"
                                                class="form-control text-sm-center mw-100 txtDifPorc"
                                                style="margin:0px auto; display:block;" autocomplete="off"
                                                disabled="disabled" />
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-2"> {{!-- ** DESCRIPCION ** --}}
                                    <div class="col-md-12">
                                        <label for="Descripcion" class="control-label">
                                            Descripción
                                            <span style="color: red;">*</span>
                                        </label>
                                        <textarea class="form-control mw-100" rows="3" id="Descripcion"
                                            name="Descripcion"
                                            placeholder="Agrega una breve descripción del producto (ingredientes, preparación, contenido, etc.)"
                                            style="margin:0px auto; display:block;" autocomplete="off"
                                            style="width:100%;" required></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-5">
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-info btn-lg btn-block" id="btnAgregar"
                            name="btnAgregar">
                            <span class="fa fa-floppy-o">
                                Agregar
                            </span>
                        </button>
                    </div>

                    <div class="col-md-5">
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


{{!-- =================================== --}}

<script>

    $(document).ready(function () {

        $("#DivRow").hide();

        $('[data-toggle="tooltip"]').tooltip();

    });



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var titulo = $('#Titulo').val();

            reader.onload = function (e) {
                alert(e.target.text);
                alert(e.target.result);
                $('#profile-img-tag').attr('src', e.target.result);
                $('#profile-img-tag').attr('alt', titulo);
            }
            reader.readAsDataURL(input.files[0]);
        }
    };

    $('#profile-img').change(function () {
        readURL(this);
    });


    function EnableDiv() {

        if ($("#DifPorc").prop("checked")) {
            $("#DivRow").slideDown("slow");
            $("#Precio").prop({ disabled: true }).val("");
        }
        else {
            $("#DivRow").hide("slow");
            $(".chkDifPorc").prop({ checked: false });
            $(".txtDifPorc").prop({ disabled: true }).val("");
            $("#Precio").prop({ disabled: false }).val("");
        }



    };

    function EnableDisableChico(chkCh) {
        var txtCh = document.getElementById("txtCh");
        txtCh.disabled = chkCh.checked ? false : true;
        if (!txtCh.disabled) {
            txtCh.focus();
        }
    };

    function EnableDisableMediano(chkMed) {
        var txtMed = document.getElementById("txtMed");
        txtMed.disabled = chkMed.checked ? false : true;
        if (!txtMed.disabled) {
            txtMed.focus();
        }
    };

    function EnableDisableGrande(chkGde) {
        var txtGde = document.getElementById("txtGde");
        txtGde.disabled = chkGde.checked ? false : true;
        if (!txtGde.disabled) {
            txtGde.focus();
        }
    };






</script>