<div class="container-fluid" style="margin-top:-10px;">
    <div class="container">

        <div class="text-center">
            <h2>
                Aquí nombre del comercio
            </h2>
            <p></p>
        </div>


        <form class="form-horizontal" method="post" action="/menu">
            <div class="form-group ">

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light text-center">
            <tr>
                <th>Foto/Imagen</th>
                <th>Platillo/Bebida</th>
                <th>Descrición</th>
                <th colspan="4">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img id="Foto1" name="Foto1"
                        src="https://laroussecocina.mx/wp-content/uploads/2017/12/mole-poblano-001-larousse-cocina_0-1024x640.jpg"
                        alt="imgAlt" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" />
                </td>
                <td class="text-center">Mole encacahuatado</td>
                <td>Vas a dejar el plato limpio, después de probar esta deliciosa receta de pollo bañado en una salsa de cachuate, chiles secos y especias.</td>
                <td>$50.00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</div>

               


            </div>
        </form>
    </div>
</div>