<div class="container-fluid">
    <div class="container">
        <form action="/users/sigup" method="POST">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card mt-4 text-center">
                        <div class="card-header">
                            <h2>Regístrate</h2>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <input type="text" name="nombreComercio" class="form-control" placeholder="NOMBRE DEL COMERCIO"
                                        autofocus>
                                </div>
                                <div class="col-md-4">
                                    <select name="giroComercio" class="form-control">
                                        <option selected="true" hidden disabled="disabled">GIRO DE LA EMPRESA</option>
                                        {{#each giro}}
                                        <option value"{{this.key}}">{{this.value}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="calle" class="form-control" placeholder="CALLE">
                                </div>
                            </div>
            
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <input type="text" name="noExterior" class="form-control" placeholder="NO EXTERIOR">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="noInterior" class="form-control" placeholder="NO INTERIOR">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="cp" name="cp" class="form-control" placeholder="CODIGO POSTAL">
                                </div>
                            </div>
            
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <select id="colonia" name="colonia" class="form-control">
                                        <option selected="true" hidden disabled="disabled">COLONIA</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="ciudad" name="ciudad" class="form-control clear" placeholder="CIUDAD">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="estado" name="estado" class="form-control clear" placeholder="ESTADO">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h2>Datos del Representante</h2>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <input type="text" name="nombre" class="form-control" placeholder="NOMBRE">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="apPaterno" class="form-control" placeholder="APELLIDO PATERNO">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="apMaterno" class="form-control" placeholder="APELLIDO MATERNO">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <input type="text" name="email" class="form-control" placeholder="EMAIL">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="password" class="form-control" placeholder="PASSWORD">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="passwordConfirm" class="form-control" placeholder="CONFIRMAR PASSWORD">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-2 mx-auto mt-3 form-group">
            <button type="submit" class="btn btn-primary btn-block">
                Iniciar
            </button>
        </div>
    </div>
        </form>
    </div>
</div>




 <script>
    $("#cp").keyup(function () {
        var letras = this.value.length;
        if(letras == 5)
        {
            var cp = this.value;
            $.ajax({
                url: '/users/buscarColonias/' + cp,
                method: 'GET',
                data: {cp: cp}
            }).done(function(res){
                if(res.colonias)
                {
                    $("#colonia").empty();
                    $("#colonia").append('<option value="" hidden disabled selected>SELECCIONE COLONIA</option>');
                    for(var k in res.colonias) {
                    $("#colonia").append(new Option(res.colonias[k],k));
                    }
                    $('#ciudad').val(res.ciudad);
                    $('#estado').val(res.estado);
                } else {
                    $("#colonia").empty();
                    $("#colonia").append('<option value="" hidden disabled selected>CODIGO POSTAL ERRONEO</option>');
                    
                }
            });
        }else {
             $(".clear").val("");
             $('#colonia').empty();
            $("#colonia").append('<option value="" hidden disabled selected>INGRESE CP VALIDO</option>');
        }
    });
 </script>