<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodo js</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia quae hic sequi, qui totam accusantium, harum quas debitis similique in. Qui nam explicabo dolor nisi id ipsum, cupiditate autem quo vero veniam voluptatem velit atque, dolore, exercitationem nemo illum magnam! Laudantium sequi placeat in alias amet, rerum voluptate facere.</p>
    <a href="www.google.com" class="btn btn-primary">Google</a>
</div>